---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<div class="wordwrap"> <sup>#</sup> corresponding author; \* equal contribution .</div>

{% include base_path %}


{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}

    {% assign sorted_posts = site.publications | map: "order" | default: 0 | sort: "order"%}

    {% for post in sorted_posts %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in sorted_posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



