---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<div class="wordwrap"> <sup>#</sup> corresponding author; \* equal contribution .</div>

{% include base_path %}


{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}

    {% assign posts_with_order = "" %}
    {% for post in site.publications %}
      {% assign order_value = post.order | default: 0 %}
      {% assign posts_with_order = posts_with_order | append: post.url | append: "|" | append: order_value | append: ";" %}
    {% endfor %}

    {% assign sorted_posts = posts_with_order | split: ";" | sort: 1 | reverse %}

    {% for sorted_post in sorted_posts %}
      {% assign post_url = sorted_post | split: "|" | first %}
      {% assign post = site.publications | where: "url", post_url | first %}

      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in sorted_posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



