{% include base_path %}

{% if page.lang == "zh-CN" %}
  {% assign nav_links = site.data.navigation.main_zh %}
  {% assign home_url = "/zh/" %}
  {% assign lang_toggle_label = "EN" %}
  {% assign lang_toggle_url = page.lang_switch_url | default: "/" %}
{% else %}
  {% assign nav_links = site.data.navigation.main %}
  {% assign home_url = "/" %}
  {% assign lang_toggle_label = "中文" %}
  {% assign lang_toggle_url = page.lang_switch_url | default: "/zh/" %}
{% endif %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}{{ home_url }}">{{ site.title }}</a></li>
          {% for link in nav_links %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          <li class="masthead__menu-item"><a href="{{ base_path }}{{ lang_toggle_url }}">{{ lang_toggle_label }}</a></li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>