/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: fixed;
  background: var(--global-bg-color);
  border-bottom: 1px solid var(--global-border-color);
  height: $masthead-height;
  top: 0;
  width: 100%;

  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 1em 1.5em;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $x-large;
      padding: 1em 2em;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
      color: var(--global-masthead-link-color);
      transition: color 0.2s ease-in-out;

      &:hover {
        color: var(--global-masthead-link-color-hover);
      }
    }
  }
}

.masthead__menu {

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  background-color: var(--global-bg-color);
  display: block;
  list-style-type: none;
  white-space: nowrap;
  font-size: 0.95em;

  &--lg {
    padding-right: 2.5em;
    font-weight: 600;
    font-size: 1.05em;
    letter-spacing: -0.01em;
  }

  a {
    padding: 0.5em 0.75em;
    display: inline-block;
  }
}